{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}{% block account_head_title %}{% endblock %}{% endblock %}
{% block head %}
  {% block account_head %}
  {% endblock %}
{% endblock %}
{% block content %}
  <div id="account" class="ui centered two column grid stackable container">
    <div class="four wide column">
      <div class="computer only column">
        <div class="ui fluid card computer only">
          <!-- <div class="image">
            <img src="{% static "/static/img/accounts/empty-photo.png" %}">
          </div> -->
          <div class="content">
            <p class="header">Welcome back {{ user.extendeduser.first_name }}</p>
          </div>
          <div class="extra content">
            <a href={% url "public_profile" user.id %}><i class="eye icon"></i>
            View public profile</a>
          </div>
        </div>
      </div>
      <div class="ui large fluid vertical menu">
        <a href="{% url 'accounts:home' %}" class="{% if request.resolver_match.url_name == "home" %}active{% endif %} item">
          <i class="dashboard icon"></i>
          Dashboard
        </a>
        <a href="{% url 'accounts:listings' %}" class="{% if request.resolver_match.url_name == "listings" %}active{% endif %} item">
          <i class="home icon"></i>
          Your Listings
        </a>
        <a href="{% url 'accounts:starred_listings' %}" class="{% if request.resolver_match.url_name == "starred_listings" %}active{% endif %} item">
          <i class="star icon"></i>
          Starred Listings
        </a>
        <a href="{% url 'accounts:verification' %}" class="{% if request.resolver_match.url_name == "verification" %}active{% endif %} item">
          <i class="checkmark icon"></i>
          Verifications
        </a>
        <a href="{% url 'accounts:edit_profile' %}" class="{% if request.resolver_match.url_name == "edit_profile" %}active{% endif %} item">
          <i class="user icon"></i>
          Edit Profile
        </a>
        <a href="{% url 'accounts:settings' %}" class="{% if request.resolver_match.url_name == "settings" %}active{% endif %} item">
          <i class="setting icon"></i>
          Settings
        </a>
      </div>
    </div>
    <div class="ten wide column">
    {% block account_content %}
    {% endblock %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% block account_scripts %}
  {% endblock %}
{% endblock %}