{% extends 'account/account_base.html' %}
{% load staticfiles %}
{% block account_head_title %}Edit Profile{% endblock %}
{% block account_content %}
<form class="ui form" method="POST" action="" enctype="multipart/form-data">
    <div class="ui secondary top attached segment">
        <h4>Edit Profile</h4>
    </div>
    <div class="ui attached padded segment">
        {% csrf_token %}
        <div class="ui two column grid">
            <div class="row">
                <div class="four wide right aligned column">
                    <label class="inline-label">First Name</label>
                </div>
                <div class="twelve wide column">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="row">
                <div class="four wide right aligned column">
                    <label class="inline-label">Last Name</label>
                </div>
                <div class="twelve wide column">
                    {{ form.last_name }}
                </div>
            </div>
            <div class="row">
                <div class="four wide right aligned column">
                    <label class="inline-label">Profile Photo</label>
                </div>
                <div class="ui twelve wide column grid">
                    <div class="five wide column">
                        <img id="preview" src="{{ user.extendeduser.profile_picture.url }}" alt="your image" />
                    </div>
                    <div class="ten wide column">
                        {{ form.profile_picture }}
                        <button type="button" class="ui button photo-button" onclick="document.getElementById('id_profile_picture').click();" style="margin-top: 6%">Select Local File</button>
                        <button id="fb-photo" type="button" class="ui button photo-button">Get Facebook Photo</button>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="four wide right aligned column">
                    <label class="inline-label">Phone Number</label>
                </div>
                <div class="four wide column">
                    {{ form.phone_number }}
                </div>
            </div> -->
            <div class="row">
                <div class="four wide right aligned column">
                    <label class="inline-label">University Division</label>
                </div>
                <div class="twelve wide column">
                    {{ form.uni_division }}
                </div>
            </div>
            <div class="row">
                <div class="four wide right aligned column">
                    <label class="inline-label">Personal Description</label>
                </div>
                <div class="twelve wide column">
                    {{ form.description }}
                    <span class="help-text">Describe yourself blah blah /placeholder</span>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui one column right aligned grid">
            <div class="ui sixteen wide column">
                <button class="ui customblue button" type="submit" style="width:90px;">Save</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var CSRF_TOKEN = "{{ csrf_token }}";

    $("#id_profile_picture").change(function(event) {

        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview')
                    .attr('src', e.target.result)
                    // .attr('alt', "")  Maybe add the alt text later
            };
            reader.readAsDataURL(this.files[0]);
        }
    });

    $("#fb-photo").click(function(event) {
        $.post( "{% url "accounts:ajax_fb_photo" %}", { "csrfmiddlewaretoken": CSRF_TOKEN, })
            .done(function (result) {
                if (result === "not_logged_in") {
                    window.location("/accounts/facebook/login/?process=connect");
                }
                else {
                    $("#preview").attr('src', result);
                }
            });
    });

</script>
{% endblock scripts %}
