{% extends 'account/account_base.html' %}
{% load staticfiles %}
{% block account_head_title %}Dashboard{% endblock %}

{% block account_content %}
	<div class="twelve column">
	  <div class="ui one item menu">
		<a class="item"><i class="plus icon"></i>Create new listing</a>
	  </div>
	</div>

	<table class="ui selectable sortable celled table">
	  <thead>
		<tr>
		  <th>Listing</th>
		  <th>Category</th>
		  <th>Price</th>
		  <th>Views</th>
		  <th>Date posted</th>
		</tr>
	  </thead>
	  <tbody>
		{% if user_datarequest_list %}
		  {% for datarequest in user_datarequest_list %}
			<tr>
			  <td><a href="{{ datarequest.get_absolute_url }}">{{ datarequest.agency_name }}</a></td>
			  <td>{{ datarequest.get_request_type_display }}</td>
			  <td>{{ datarequest.timestamp }}</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}

	{% else %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<h4 class="ui icon center aligned header">
		<i class="small frown icon"></i>
	  <div class="content">
			You have no curent listings posted
	  </div>
	</h4>
	{% endif %}

{% endblock %}