{% extends 'account/account_base.html' %}
{% block account_head_title %}Verifications{% endblock %}
{% block account_content %}
    <div class="sixteen wide column grid">
        <div class="ui secondary top attached segment">
            <h4 class="">Your Listings</h4>
        </div>
        <div class="ui bottom attached padded segment">
            <div class="ui row">
                <div class="ui five wide column">
                </div>
            </div>
        </div>
    </div>
{% endblock %}