{% extends "account/base.html" %}
{% load account %}

{% block head_title %}Sign Out{% endblock %}


{% block content %}


<div class="ui centered grid container" style="margin-top: 40px;">
    <div class="eight wide column">
        <div class="ui very padded center aligned segment">
            <h2 class="ui centered header">Log Out</h2>

            <div class="ui divider"></div>

            <p>Are you sure you want to sign out?</p>

            <form class="ui form" method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <div class="ui centered grid">
                    <div class="ui six wide column">
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="ui fluid customblue button" type="submit">Log Out</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



{% endblock %}
