{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}Password Changed{% endblock %}

{% block content %}
  <div class="ui centered grid container" style="margin-top: 20px;">
    <div class="eight wide column">
      <div class="ui very padded segment">
        <h2 class="ui centered header"><i class="ui thumbs outline up icon"></i> Password Change Successful</h2>
        <p class="larger">You will now be automatically redirected to the login page in 3.33 seconds. If for some weird reason the page does not redirect, <a href="{% url 'account_login' %}">click here.</a></p>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  setTimeout(function () {
     window.location.replace("{% url 'account_login' %}");
  }, 3333);
</script>
{% endblock %}