{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div id="account_page" class="ui middle aligned center aligned grid">
  <div id="center_segment" class="column">
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <form class="login ui large form" method="POST" action="">
      <div class="ui segment">
      {% csrf_token %}
        <h1 class="ui header">{% trans "Password Reset" %}</h1>
        <div class="ui divider"></div>
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <div class="field">
          <div class="ui input">
            {{ form.email }}
          </div>
        </div>

        <div class="ui fluid large customblue submit button">{% trans 'Reset My Password' %}</div>
      </div>
      <div class="ui error message"></div>
    </form>

    {% if form.errors %}
      <div class="ui error message">
        <ul class="list"><li>The e-mail address is not assigned to any user account</li></ul>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(document)
.ready(function() {
  $('.ui.form')
    .form({
      fields: {
        email: {
          identifier  : 'email',
          rules: [
            {
              type   : 'empty',
              prompt : 'Please enter your e-mail address'
            },
            {
              type   : 'email',
              prompt : 'Please enter a valid e-mail'
            }
          ]
        }
      }
    })
  ;
})
;
</script>
{% endblock %}