{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div id="account_page" class="ui middle aligned center aligned grid">
  <div id="center_segment" class="column">
    <form class="login ui large form" method="POST" action="">
      <div class="ui segment">
      {% csrf_token %}
      	<h1 class="ui header">{% trans "Change Password" %}</h1>
        <div class="ui divider"></div>

        <div class="field">
          <div class="ui input">
            {{ form.oldpassword }}
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            {{ form.password1 }}
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            {{ form.password2 }}
          </div>
        </div>
        <div class="ui fluid large customblue submit button">{% trans "Change Password" %}</div>
      </div>
      <div class="ui error message"></div>
    </form>

    {% if form.errors %}
      <div class="ui error message">
        <ul class="list"><li>Sorry, entered password is incorrect</li></ul>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(document)
.ready(function() {
  $('.ui.form')
    .form({
      fields: {
        old: {
          identifier  : 'oldpassword',
          rules: [
            {
              type   : 'empty',
              prompt : 'Please enter your old password'
            },
          ]
        },
        password1: {
          identifier  : 'password1',
          rules: [
            {
              type   : 'minLength[6]',
              prompt : 'Your password must be at least {ruleValue} characters'
            },
            {
              type   : 'empty',
              prompt : 'Please enter a new password'
            },
          ]
        },
        password2: {
          identifier  : 'password2',
          rules: [
            {
              type   : 'match[password1]',
              prompt : 'Entered passwords must match'
            },
            {
              type   : 'empty',
              prompt : 'Please enter matching passwords'
            },
          ]
        }
      }
    })
  ;
})
;
</script>
{% endblock %}