{% extends 'account/account_base.html' %}
{% load staticfiles %}

{% block account_head_title %}Starred Listings{% endblock %}

{% block account_content %}

<div id="starred" class="sixteen wide column grid">
    <div class="ui secondary top attached segment">
        <h4 class="">Starred Listings</h4>
    </div>
    <div class="ui attached padded segment">
        <div class="ui grid">
            {% for listing in listings %}
                <div class="ui row">
                    <div class="ui six wide column">
                        <img class="ui fluid image" src="{{ listing.get_cover_photo.image.url }}">
                    </div>
                    <div class="ui seven wide column">
                        <h3 style="margin: 5px 0px;">{{ listing.name }}</h3>
                        {{ listing.street_address }}<br>
                        {{ listing.get_bed_size_display }} sized bed <br>
                        <div class="seperator"></div>
                        <a href="{{ listing.user.extendeduser.get_absolute_url }}">
                            {{listing.user.extendeduser.first_name}} {{listing.user.extendeduser.last_name}}
                        </a>
                    </div>
                    <div class="ui three wide column">
                        <h3 style="margin: 5px 0px;">${{listing.price}}</h3>
                        per month
                        <div class="seperator"></div>
                        <i class="ui right floated large starred star icon"
                            onclick="star(this, {{ listing.id }})" data-content="Unstar"></i>
                        <i class="ui icon large share" data-content="Share"></i>
                    </div>
                </div>
                {% if not forloop.last %}<div class="ui divider"></div>{% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock account_content %}

{% block scripts %}
    <script type="text/javascript">
        function star (element, id) {
            var star = $(element);
            var row = $(element).parents('.ui.row');
            var divider = row.prev('.divider');
            $.post( "/star/", { "csrfmiddlewaretoken": "{{ csrf_token }}", "listing": id})
                .done(function (starred) {
                    if (starred === "False") {
                        divider.hide("medium", function() {
                            $(this).remove();
                        });
                        row.hide("medium", function() {
                            $(this).remove();
                        });
                    }
                });
        };
    </script>
{% endblock scripts %}