dj-database-url==0.4.0
Django==1.9.1
django-allauth==0.24.1
django-cleanup-0.4.2
django-widget-tweaks==1.4.1
libmagic==1.0
oauthlib==1.0.3
Pillow==3.0.0
python-magic==0.4.10
python-openid==2.2.5
requests==2.8.1
requests-oauthlib==0.5.0
sorl-thumbnail==12.3
wheel==0.24.0
whitenoise
gunicorn
psycopg2
django-storages
