{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load upto %}

{% block head_title %}{{listing.name}}{% endblock %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css">
<link rel="stylesheet" type="text/css" href="{% static "css/listing.css" %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

{% endblock head %}

{% block content %}
<div class="ui centered one column grid stackable container">
    <div class="row">
        <div class="ui thirteen wide column">
            <div class="slider image">
                <ul>
                    <li>
                        <div class="slider-photo">
                            {% with cover_photo=listing.get_cover_photo %}
                            <img src="{{cover_photo.image.url}}">
                            <a class="slider-link middle lightbox" href="{{cover_photo.image.url}}"
                                title="{{cover_photo.description}}"></a>
                            {% endwith %}
                        </div>

                    </li>
                    {% for photo in listing.get_remaining_photos %}
                    <li>
                        <div class="loader-container">
                            <div class="ui disabled active dimmer">
                                <div class="ui active text loader">Loading Image</div>
                            </div>
                        <div>
                        <div class="slider-photo">
                            <img data-src="{{photo.image.url}}">
                             <a class="slider-link middle lightbox" href="{{photo.image.url}}"
                                title="{{photo.description}}"></a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui eight wide column">
            <div class="icon-row">
                <i class="ui large share alternate icon"></i>
                <a style="color: #565a5c" href="{{ listing.user.extendeduser.get_absolute_url }}"><i class="ui large user icon"></i></a>
                <i style="padding-top: 2px;" class="ui large {{starred}} star icon" onclick="star(this, {{listing.id}})" data-content="Star this listing"></i>
            </div>
            <span class="listing-header">{{listing.name}}</span>
            <p>Rent: &#36;<strong>{{listing.price}} per month</strong></p>



            <div class="ui divider"></div>
            <h4>Description</h4>
            <p>{{listing.summary|linebreaks}}</p>

            <div class="ui divider"></div>
            <h4>Amenities</h4>
            <div class="ui two column grid">
                <div class="ui eight wide column">
                    <!-- Icons made by Freepik http://www.freepik.com" from http://www.flaticon.com is licensed by CC 3.0 -->
                    <div id="ac" class="amenities {% if not listing.ac %}nope{% endif %}">
                        <img src="{% static "img/amenities/ac.svg" %}">
                        <div class="text">Air conditioning</div>
                    </div>
                    <div id="washer" class="amenities {% if not listing.in_unit_washer_dryer %}nope{% endif %}">
                        <img src="{% static "img/amenities/washer.svg" %}">
                        <div class="text">In unit washer/dryer</div>
                    </div>
                    <div id="tv" class="amenities {% if not listing.tv %}nope{% endif %}">
                        <img src="{% static "img/amenities/tv.svg" %}">
                        <div class="text">Television</div>
                    </div>
                    <div id="cable" class="amenities {% if not listing.cable_tv %}nope{% endif %}">
                        <img src="{% static "img/amenities/cable.svg" %}">
                        <div class="text">Cable TV</div>
                    </div>
                </div>
                <div class="ui eight wide column">
                    <div id="internet" class="amenities {% if not listing.internet %}nope{% endif %}">
                        <img src="{% static "img/amenities/internet.svg" %}">
                        <div class="text">Internet/WiFi</div>
                    </div>
                    <div id="wheelchair" class="amenities {% if not listing.wheel_chair_accessible %}nope{% endif %}">
                        <img src="{% static "img/amenities/wheelchair.svg" %}">
                        <div class="text">Wheelchair accessible</div>
                    </div>
                    <div id="pets" class="amenities {% if not listing.pets_live_here %}nope{% endif %}">
                        <img src="{% static "img/amenities/pets.svg" %}">
                        <div class="text">Pets live here</div>
                    </div>
                </div>
            </div>

            <div class="ui divider"></div>
            <h4>Location</h4>
            <div id="map" style="width:100%; height:350px;"></div>
            <div id="latitude" style="display: none">{{listing.latitude}}</div>
            <div id="longitude" style="display: none">{{listing.longitude}}</div>
        </div>
        <div class="ui five wide column">
            <form class="ui form" method="POST" action="">
                <div class="ui secondary top attached segment">
                    <h4>Contact Renter</h4>
                </div>
                <div style="padding-top: 12px;" class="ui bottom attached padded segment">
                    {% csrf_token %}
                    {% if user.is_anonymous %}
                        <div class="ui field">
                            <label>Email</label>
                            {{form.email}}
                        </div>
                    {% endif %}
                     {% if user.is_authenticated %}
                    {% endif %}
                    <div class="ui field">
                        <label>Message</label>
                        {{form.message|attr:"rows:5"}}
                    </div>
                    <div class="ui field">
                        {{form.captcha}}
                    </div>
                    {% if form.errors %}
                    <div class="ui negative message">
                        <ul class="list">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ field.label }}: {{ error|escape }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="ui divider"></div>
                    <button class="ui fluid customblue button" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script type="text/javascript">
    var CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script type="text/javascript" src="{% static "js/listing-page.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP5xmOaC6toBn_BrLSA_DZeLBMPl1lm3w&libraries=places&callback=initMap" async defer></script>
{% endblock scripts %}