{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Search{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/search.css" %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.2.1/nouislider.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css">
{% endblock %}

{% block content %}
<div id="search" class="ui grid">
    <div id="data-column" class="eight wide column data-column">
        <div class="row">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <h4>Quarter</h4>
                    </div>
                    <div class="thirteen wide column">
                        <div class="ui grid">
                            <div class="doubling four column row">
                                <div class="column">
                                    <div class="ui bordered checkbox">
                                        <label>Fall</label>
                                        <input id="fall" class="filter" type="checkbox" name="Fall" value="True">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui bordered checkbox">
                                        <label>Winter</label>
                                        <input id="winter" class="filter" type="checkbox" name="Winter" value="True">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui bordered checkbox">
                                        <label>Spring</label>
                                        <input id="spring" class="filter" type="checkbox" name="Spring" value="True">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui bordered checkbox">
                                        <label>Summer</label>
                                        <input id="summer" class="filter" type="checkbox" name="Summer" value="True">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui divider"></div>

                <div class="row">
                    <div class="three wide column">
                        <h4>Options</h4>
                    </div>
                    <div class="thirteen wide column ui form">
                        <div class="ui fields">
                            <select id="bedsize" class="ui fluid bedsize filter dropdown">
                                <option value="0">Bed Size</option>
                                <option value="2">Full or above</option>
                                <option value="3">Queen or above</option>
                                <option value="4">King only</option>
                            </select>
                            <select id="bathroom" class="ui fluid filter dropdown">
                                <option value="none">Bathroom</option>
                                <option value="shared">Shared</option>
                                <option value="private">Private</option>
                            </select>
                            <select id="roommates" class="ui fluid filter dropdown">
                                <option value="">Roommates</option>
                                <option value="0">None</option>
                                <option value="1">1 or fewer</option>
                                <option value="2">2 or fewer</option>
                                <option value="3">3 or fewer</option>
                                <option value="4">4 or fewer</option>
                                <option value="5">Any</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="ui divider"></div>

                <div class="row">
                    <div class="three wide column">
                        <h4>Price Range</h4>
                    </div>
                    <div class="thirteen wide column">
                        <div class="ui grid">
                            <div class="sixteen wide column">
                                <div id="slider" class="filter"></div>
                            </div>
                            <div class="eight wide price-column column">
                                <div id="slider_low"></div>
                            </div>
                            <div class="eight wide right aligned price-column column">
                                <div id="slider_high"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui divider"></div>
            </div>
        </div>

        <div class="row">
             <div id="error-message" class="ui negative message hidden">
                <div class="header">
                    There was a problem contacting the servers
                </div>
                <p>Please try again later, or report <a href="" id="bug">report</a> the incident.</p>
            </div>
            <div id="results" class="ui two doubling cards">
            </div>
        </div>
    </div>
    <div class="eight wide column map-column">
        <div id="map"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{# Range slider #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.2.1/nouislider.min.js"></script>
{# <script src="{% static "js/wNumb.min.js" %}" type="text/javascript"></script> #}

{# Js templating engine #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>

{# Slider js includes #}
<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP5xmOaC6toBn_BrLSA_DZeLBMPl1lm3w&callback=initMap">
</script>
<script type="text/javascript">
var CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script src="{% static "js/search.js" %}" type="text/javascript"></script>


{% endblock %}