.slider-photo {
  padding-bottom: 55%; /* here the desired aspect ratio */
}

.slider-photo img {
  width: 100%;
  height: auto;
}

.unslider-arrow {
  width: 18%;
  height: 100%;
}

.chevron.icon {
  font-size: 3em;
}

.unslider-arrow.prev .chevron.icon {
  left: 30px;
}

.unslider-arrow.next .chevron.icon {
  right: 30px;
}

.listing-header {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.5em;
  display: inline-block;
}

.icon-row {
  margin-top: 0.2em;
  float: right;
}


/*------ amenities -------*/

.amenities {
  margin-bottom: 0.8em;
}

.amenities .text {
  font-weight: 600;
  margin-left: 0.8em;
  display: inline-block;
}

.amenities img {
  height: 30px;
  vertical-align: middle;
}

.amenities.nope .text {
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 0;
  opacity: 0.8;
}

.amenities.nope img {
  display: none;
}





#recaptcha-anchor-label {
  width: 130px!important;
}