.slider-photo {
  padding-bottom: 60%; /* here the desired aspect ratio */
}

.slider-photo img {
  width: 100%;
  height: auto;
}

.unslider-arrow {
  width: 18%;
  height: 100%;
}

.chevron.icon {
  font-size: 3em;
}

.unslider-arrow.prev .chevron.icon {
  left: 30px;
}

.unslider-arrow.next .chevron.icon {
  right: 30px;
}

.listing-header {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.5em;
  display: inline-block;
}

.icon-row {
  margin-top: 0.2em;
  float: right;
}
