@import url(https://fonts.googleapis.com/css?family=Lato:900&subset=latin);

/*    Main    */
html {
    min-height:100%;
}

body {
    background-color: rgb(248, 248, 249);
    font-size: 15px;
    color: #565a5c;
    min-height: 100%;
    margin: 0;
}

p {
    line-height: 1.45;
}

.hidden {
    display: none;
}

.button {
    box-shadow: 0px -2px 0px 0px rgba(34, 36, 38, 0.1) inset!important;
}

.ui.segment {
    background-color: rgb(255, 255, 255);
}

.ui.secondary.segment {
    background-color: rgb(240, 240, 242);
}

.customblue {
    color: white!important;
    background-color: #439fe0!important;
}

.customblue:hover {
    background-color: #3e90c9!important;
}



/* -------------------- */
/*         Menu         */
/* -------------------- */

#top-menu {
    border-radius: 0;
}

#top-menu .header.item.logo {
    font-size: 1.2em;
}

#top-menu img.logo {
    margin-right: 1.1em;
}

#top-menu i.circular.icon {
    margin-left: 10px;
}

#top-menu .ui.item {
    padding-left: 0.9em;
    padding-right: 0.9em;
}

#top-menu .mobile-menu.right.menu {
    display: none;
}

#top-menu .mobile-menu.right.menu i {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .ui.large.menu .computer-menu {
        display: none!important;
    }

    .ui.large.menu .mobile-menu {
        display: flex!important;
    }
}


/* -------------------- */
/*       Landing        */
/* -------------------- */

#landing {
    min-height: 100%;
}

#top-menu.transparent {
    background-color: transparent;
}

#top-menu.transparent .item:before {
    width: 0px;
}

#landing .masthead {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/img/rockefeller.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 5em;
    font-weight: normal;
}

.masthead h2 {
    margin-top: 0.4em;
    font-size: 2em;
}


/* -------------------- */
/*        Search        */
/* -------------------- */

#search .map-column {
    padding: 0 0.95em 0 0;
}

.ui.disabled.dimmer {
    display: none;
}

#search .ui.default.dropdown:hover>.text, .ui.default.dropdown>.text {
    color: rgba(140, 140, 140, 1);
}

#search .ui.dropdown:hover>.default.text, .ui.dropdown>.default.text {
    color: rgba(140, 140, 140, 1);
}

#search .data-column {
    padding-left: 2em;
    height: 92vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slider-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.unslider > a {
    cursor: pointer;
}

.unslider-arrow {
    top: 30%;
    color: white;
    opacity: 0;
    z-index: 20;
}

.unslider:hover > .unslider-arrow {
    opacity: 0.8;
}

.unslider:hover > .unslider-arrow:hover {
    color: white;
    opacity: 1;
}

.unslider-arrow.prev {
    left: 5px!important;
    z-index: 3000;
}

.unslider-arrow.next {
    right: 5px!important;
    z-index: 3000;
}

#search i.chevron {
    margin-right: 0;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.41);
}


#search ul.unslider-wrap.unslider-carousel {
    overflow: auto;
}


#search .loader-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 15vw;
    display: block;
}

#search .ui.dimmer {
    background-color:  rgba(0,0,0,.55);
}



/* -------------------- */
/*    Public Profile    */
/* -------------------- */

.item.greyed {
    opacity: 0.6;
}


/* -------------------- */
/*    Account Login     */
/* -------------------- */

#account .ui.icon.center.aligned.header {
    color: #999;
}

#account_page p {
    font-size: 1.14285714rem;
}

#account_page h1.ui.header {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-shadow: none;
    color: #555459;
    margin-top: 20px;
    margin-bottom: 30px;
}

#account_page h1.ui.image.header {
    margin-bottom: 0px;
}


#center_segment {
   max-width: 500px;
   margin-top: 80px;
   margin-bottom: 50px;
}

#center_segment .ui.segment {
    padding: 10px 50px 25px 50px;
}

#account_page .ui.divider {
    margin-top: 30px;
    margin-bottom: 30px;
}





/* -------------------- */
/*     Account items    */
/* -------------------- */

#account .ui.icon.center.aligned.header {
    color: #999;
}

#account .ui.secondary.top.attached.segment {
    padding-left: 1.5em;
}

#account .ui.bottom.attached.segment {
    margin-bottom: 2em;
    padding-right: 1.3em;
}

#account .margin-below {
    margin-bottom: 0.5em;
}

#account .margin-above {
    margin-top: 1.2em;
}

#account .no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#account .inline-label {
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    font-weight: 700;
    margin-top: 8px;
    align-items: center;
}

#account .ui.form {
    font-size: 15px;
}

span.help-text {
    color: #999;
    line-height: 1.45;
}

.ui.form .inline.fields {
    margin-bottom: 0;
}


/* -------------------- */
/*     Listing forms    */
/* -------------------- */


.ui.large.form label {
    font-size: 1.05em;
}

.ui.large.form input[type=text] {
    font-size: 16px;
}


/* -------------------- */
/*        Calendar      */
/* -------------------- */

.datepicker.datepicker-inline {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(34, 36, 38, 0.14902);
    padding: 10px;
}

.active.day {
    background-color: #439fe0!important;
    border-radius: 3px!important;
    text-shadow: none!important;
    box-shadow: 0px -2px 0px 0px rgba(34, 36, 38, 0.1) inset!important;
}

.datepicker-inline {
    width: auto!important;
}

.quarter-checkbox {
    width: auto;
    height: auto;
}

.quarter-checkbox label {
    position: relative;
    display: block;
    width: 100%;
    border-radius: .28571429rem;
    cursor: pointer;
    background: #e5e6e7;
    color: rgba(0,0,0,.6);
    padding: 15px 10px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}

.quarter-checkbox label:hover {
    background-color: #cacbcd;
    color: rgba(0,0,0,.8);
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
}

.quarter-checkbox input[type=checkbox]:checked + label {
    background: #babbbc;
    color: rgba(0,0,0,.9);
}

.quarter-checkbox label > img {
    padding: 4px;
}




