@import url(https://fonts.googleapis.com/css?family=Lato:900&subset=latin);

/*    Main    */
html {
    height:100%;
    background-color: rgb(242, 242, 243);
}

body {
    font-size: 15px;
    color: #565a5c;
    height: 100%;
    margin: 0;
}

p {
    line-height: 1.45;
}

.hidden {
    display: none;
}

.button {
    box-shadow: 0px -2px 0px 0px rgba(34, 36, 38, 0.1) inset!important;
}

body.pushable>.pusher {
    background-color: rgb(242, 242, 243);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    flex: 1;
}


.ui.segment {
    background-color: rgb(255, 255, 255);
}

.ui.secondary.segment {
    background-color: rgb(249, 249, 250);
}

.customblue {
    color: white!important;
    background-color: #439fe0!important;
}

.customblue:hover {
    background-color: #3e90c9!important;
}

a:focus {
    outline:0;
}

span.regular {
    font-weight: 400;
}

@media only screen and (max-width: 991px) and (min-width: 768px)
.ui.grid.container {
    width: calc(833px + 2rem)!important;
}

/* -------------------- */
/*         Menu         */
/* -------------------- */

#top-menu {
    border-radius: 0;
}

#top-menu .header.item.logo {
    font-size: 1.2em;
}

#top-menu img.logo {
    margin-right: 1.1em;
}

#top-menu i.circular.icon {
    margin-left: 10px;
}

#top-menu .ui.item {
    padding-left: 1em;
    padding-right: 1em;
}

#top-menu .mobile-menu.right.menu {
    display: none;
}

#top-menu .mobile-menu.right.menu i {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .ui.large.menu .computer-menu {
        display: none!important;
    }

    .ui.large.menu .mobile-menu {
        display: flex!important;
    }
}

/*#top-menu .mini.circular {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    border: solid 2px rgb(200, 200, 202);
}
*/


/* -------------------- */
/*        Footer        */
/* -------------------- */

.ui.inverted.vertical.footer.segment {
    padding: 5em 0em;
}

.ui.inverted.segment {
    background-color: #4e5665;
}

.footer a.item:focus {
    outline:none;
}


/* -------------------- */
/*       Landing        */
/* -------------------- */

#landing {
    min-height: 100%;
}

#top-menu.transparent {
    background-color: transparent;
    position: absolute;
}

#top-menu.transparent .item:before {
    width: 0px;
}

#landing .masthead {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/img/rockefeller.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 5em;
    font-weight: bold;
}

.masthead h2 {
    margin-top: 0.4em;
    font-size: 2em;
}

.masthead .huge.customblue.button {
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .masthead h1.ui.header {
        font-size: 3.4em;
    }
    .masthead h2 {
        font-size: 1.6em;
    }
}


/* -------------------- */
/*     unslider css     */
/* -------------------- */

.slider-photo {
  position: relative;
  overflow: hidden;
  padding-bottom: 67%; /* here the desired aspect ratio */
  background-color: rgb(202, 202, 203);
}

.slider-photo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%
}

.loader-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 15vw;
    display: block;
}

.ui.disabled.dimmer {
    display: none;
}

.ui.dimmer {
    background-color:  rgba(0,0,0,.55);
}


.slider-link.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 50%;
}

.unslider-arrow {
    color: white;
    opacity: 0;
    z-index: 20;
    top: 0px;
    left: 0px!important;
}

.unslider-arrow.next {
    right: 0px!important;
    left: auto!important;
}

.unslider:hover > .unslider-arrow {
    opacity: 0.6;
}

.unslider:hover > .unslider-arrow:hover {
    color: white;
    opacity: 1;
}

.unslider-arrow i {
    position: absolute;
    top: 50%;
    margin-right: 0;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.21);
}

/* -------------------- */
/*         Stars        */
/* -------------------- */

.star.icon {
    line-height: inherit!important;
    transition: color .1s ease, opacity .1s ease!important;
    margin-right: 0;
    cursor: pointer;
}

.star.icon.true, .star.icon.starred {
    color: #ffb70a;
}

.star.icon:hover, #search .star.icon.true:hover {
    color: #ffb70a;
}

/* -------------------- */
/*    Public Profile    */
/* -------------------- */

.item.greyed {
    opacity: 0.6;
}


/* -------------------- */
/*    Account Login     */
/* -------------------- */

#account .ui.icon.center.aligned.header {
    color: #999;
}

#account_page p {
    font-size: 1.14285714rem;
}

#account_page h1.ui.header {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-shadow: none;
    color: #555459;
    margin-top: 20px;
    margin-bottom: 30px;
}

#account_page h1.ui.image.header {
    margin-bottom: 0px;
}


#center_segment {
   max-width: 500px;
   margin-top: 80px;
   margin-bottom: 50px;
}

#center_segment .ui.segment {
    padding: 10px 50px 25px 50px;
}

#account_page .ui.divider {
    margin-top: 30px;
    margin-bottom: 30px;
}





/* -------------------- */
/*     Account items    */
/* -------------------- */

#account {
    margin-top: 20px;
    margin-bottom: 20px;
}

#account .ui.fluid.card.computer.only > .content {
    padding-bottom: 0.7em;
}

#account .ui.icon.center.aligned.header {
    color: #999;
}

#account .ui.secondary.top.attached.segment {
    padding-left: 1.5em;
}

#account .ui.bottom.attached.segment {
    margin-bottom: 2em;
    padding-right: 1.3em;
}

#account .margin-below {
    margin-bottom: 0.5em;
}

#account .margin-above {
    margin-top: 1.2em;
}

#account .no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#account .inline-label {
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    font-weight: 700;
    margin-top: 8px;
    align-items: center;
}

#account .ui.form {
    font-size: 15px;
}

#account #preview {
    max-height: 120px;
    max-width: 120px;
}

#account .photo-button {
    margin-bottom: 12px;
    width: 170px;
}

span.help-text {
    color: #999;
    line-height: 1.45;
}

.ui.form .inline.fields {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .ui.large.fluid.vertical.menu {
        display: none;
    }
}


/* -------------------- */
/*   Starred Listings   */
/* -------------------- */

#starred .seperator {
    width: 70px;
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin: 0.8em 0 0.6em ;
}

#starred .star.icon, .share.icon {
    transition: color .1s ease, opacity .1s ease;
    cursor: pointer;
}

#starred .star.icon.starred {
    color: #ffb70a;
    opacity: 0.75;
}

#starred .star.icon:hover, #search .star.icon.active:hover {
    color: #ffb70a;
    opacity: 1;
}


/* -------------------- */
/*     Listing forms    */
/* -------------------- */


.ui.large.form label {
    font-size: 1.05em;
}

.ui.large.form input[type=text] {
    font-size: 16px;
}

.extra.content .ui.button {
    width: 49%;
    margin-right: 0;
}


/* -------------------- */
/*        Calendar      */
/* -------------------- */

.datepicker.datepicker-inline {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(34, 36, 38, 0.14902);
    padding: 10px;
}

.active.day {
    background-color: #439fe0!important;
    border-radius: 3px!important;
    text-shadow: none!important;
    box-shadow: 0px -2px 0px 0px rgba(34, 36, 38, 0.1) inset!important;
}

.datepicker-inline {
    width: auto!important;
}

.quarter-checkbox {
    width: auto;
    height: auto;
}

.quarter-checkbox label {
    position: relative;
    display: block;
    width: 100%;
    border-radius: .28571429rem;
    cursor: pointer;
    background: #e5e6e7;
    color: rgba(0,0,0,.6);
    padding: 15px 10px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}

.quarter-checkbox label:hover {
    background-color: #cacbcd;
    color: rgba(0,0,0,.8);
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
}

.quarter-checkbox input[type=checkbox]:checked + label {
    background: #babbbc;
    color: rgba(0,0,0,.9);
}

.quarter-checkbox label > img {
    padding: 4px;
}




