@import url(https://fonts.googleapis.com/css?family=Lato:900&subset=latin);

/*    Main    */
body {
    background-color: rgb(248, 248, 249);
    font-size: 15px;
}

p {
    line-height: 1.45;
}

.hidden {
    display: none;
}

.button {
    box-shadow: 0px -2px 0px 0px rgba(34, 36, 38, 0.1) inset!important;
}

.ui.segment {
    background-color: rgb(255, 255, 255);
}

.ui.secondary.segment {
    background-color: rgb(240, 240, 242);
}

.customblue {
    color: white!important;
    background-color: #439fe0!important;
}

.customblue:hover {
    background-color: #3e90c9!important;
}


/* -------------------- */
/*         Menu         */
/* -------------------- */

#top-menu {
    border-radius: 0;
}

#top-menu img.logo {
    margin-right: 1.1em;
}

.ui.menu .search.item:before {
    width: 0px;
}


#top-menu i.circular.icon {
    margin-left: 10px;
}


/* -------------------- */
/*      Front Page      */
/* -------------------- */

#front-page .map-column {
    padding: 0;
}


.ui.disabled.dimmer {
    display: none;
}

/* -------------------- */
/*    Account Login     */
/* -------------------- */

#account .ui.icon.center.aligned.header {
    color: #999;
}

#account_page p {
    font-size: 1.14285714rem;
}

#account_page h1.ui.header {
    font-family: 'Lato', sans-serif;  
    font-weight: 900;  
    text-shadow: none;
    color: #555459;
    margin-top: 20px;
    margin-bottom: 30px;
}

#account_page h1.ui.image.header {
    margin-bottom: 0px;
}


#center_segment {
   max-width: 500px; 
   margin-top: 80px; 
   margin-bottom: 50px;
}

#center_segment .ui.segment {
    padding: 10px 50px 25px 50px;
}

#account_page .ui.divider {
    margin-top: 30px;
    margin-bottom: 30px;
}





/* -------------------- */
/*     Account items    */
/* -------------------- */

#account .ui.icon.center.aligned.header {
    color: #999;
}

#account .ui.secondary.top.attached.segment {
    padding-left: 1.5em;
}

#account .ui.bottom.attached.segment {
    margin-bottom: 2em;
    padding-right: 1.3em;
}

#account .margin-below {
    margin-bottom: 0.5em;
}

#account .margin-above {
    margin-top: 1.2em;
}

#account .no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#account .inline-label {
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    font-weight: 700;
    margin-top: 8px;
    align-items: center;
}

#account .ui.form {
    font-size: 15px;
}

span.help-text {
    color: #999;
    line-height: 1.45;
}

.ui.form .inline.fields {
    margin-bottom: 0;
}


/* -------------------- */
/*     Listing forms    */
/* -------------------- */


.ui.large.form label {
    font-size: 1.05em;
}

.ui.large.form input[type=text] {
    font-size: 16px;
}


/* -------------------- */
/*        Calendar      */
/* -------------------- */

.datepicker.datepicker-inline {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(34, 36, 38, 0.14902);
    padding: 10px;
}

.active.day {
    background-color: #439fe0!important;
    border-radius: 3px!important;
    text-shadow: none!important;
    box-shadow: 0px -2px 0px 0px rgba(34, 36, 38, 0.1) inset!important;
}

.datepicker-inline {
    width: auto!important;
}

.quarter-checkbox {
    width: auto;
    height: auto;
}

.quarter-checkbox label {
    position: relative;
    display: block;
    width: 100%;
    border-radius: .28571429rem;
    cursor: pointer;
    background: #e5e6e7;
    color: rgba(0,0,0,.6);
    padding: 15px 10px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}

.quarter-checkbox label:hover {
    background-color: #cacbcd;
    color: rgba(0,0,0,.8);
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
}

.quarter-checkbox input[type=checkbox]:checked + label {
    background: #babbbc;
    color: rgba(0,0,0,.9);
}

.quarter-checkbox label > img {
    padding: 4px;
}




