/* -------------------- */
/*        Search        */
/* -------------------- */

#search .map-column {
    margin: inherit;
    padding-right: 0;
    padding-left: 0;
}

#map {
    height: 93vh;
    width: 100%;
}

#search .data-column {
    padding: 2em 2.5em;
    height: 93vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    #search .map-column {
        display: none!important;
    }

    #search .data-column {
        width: 100%!important;
        padding-right: 25px;
        padding-left: 25px;
    }
}

#search .inline.field {
    padding: 0;
}

#search .ui.bordered.checkbox {
    width: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0.65rem 1rem 0.65rem 0.7rem;
    border-radius: .24rem;
    border-color: rgb(212, 212, 213);
    border-width: 1px;
    border-style: solid;
}


.dropdown + .dropdown {
    margin-left: 12px;
}


#search .noUi-handle {
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);;
    border: 1px solid #D9D9D9;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 500rem;
    top: -6px;
}

#search .noUi-handle:before {
    display: none;
}

#search .noUi-handle:after {
    display: none;
}

#search .noUi-connect {
    background: #439fe0;
    box-shadow: none;
}

#search .noUi-target {
    background: rgb(217,217,218);
    height: 9px;
    border: none;
    box-shadow: none;
    border-radius: 4px;
}

#search .noUi-origin {
    border-radius: 6px;
}

#search .noUi-origin.noUi-background {
    background: rgb(217,217,218);
    box-shadow: none;
    border-radius: 4px;
}

.noUi-handle-lower {
    left: -2px!important;
}

.noUi-handle-upper {
    left: -20px!important;
}

.price-column {
    padding-top: 0!important;
}

/* Cards */

.ui.fluid.card {
    transition: opacity .15s ease-in-out;
}

.slider-image {
    display: block;
    height: auto;
    border-radius: inherit;
}

.unslider-arrow {
    width: 18%;
    /*Need to make heigth = image height*/
    height: 55%;
}

.unslider-arrow.prev .chevron.icon {
  left: 5px;
}

.unslider-arrow.next .chevron.icon {
  right: 5px;
}


.ui.inverted.vertical.footer.segment {
    display: none;
}
