/* -------------------- */
/*        Search        */
/* -------------------- */

#search .map-column {
    margin: inherit;
    padding-right: 0;
}

#search .data-column {
    padding-left: 2em;
    height: 92vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    #search .map-column {
        display: none!important;
    }

    #search .data-column {
        width: 100%!important;
        padding-right: 25px;
        padding-left: 25px;
    }
}

#search .inline.field {
    padding: 0;
}

#search .ui.bordered.checkbox {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0.5rem 1rem 0.5rem 0.7rem;
    margin-right: 1rem;
    margin-top: 0.8rem;
    /*border-radius: .24rem;*/
    border-color: rgb(212, 212, 213);
    border-width: 1px;
    border-style: solid;
}

#search .noUi-handle {
    background: linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15),0 0 0 1px rgba(34,36,38,.15) inset;
    width: 2rem;
    height: 2rem;
    border-radius: 500rem;
}

#search .noUi-handle:before {
    display: none;
}

#search .noUi-handle:after {
    display: none;
}

#search .noUi-connect {
    background: #439fe0;
    box-shadow: none;
}

#search .noUi-target {
    background: rgb(217,217,218);
    height: 12px;
    border: none;
    box-shadow: none;
    border-radius: 4px;
}

#search .noUi-origin {
    border-radius: 6px;
}

#search .noUi-origin.noUi-background {
    background: rgb(217,217,218);
    box-shadow: none;
    border-radius: 4px;
}




.ui.fluid.card {
    transition: opacity .15s ease-in-out;
}

.slider-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.unslider-arrow {
    top: 30%;
    color: white;
    opacity: 0;
    z-index: 20;
}

.unslider:hover > .unslider-arrow {
    opacity: 0.8;
}

.unslider:hover > .unslider-arrow:hover {
    color: white;
    opacity: 1;
}

.unslider-arrow i {
    margin-right: 0;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.41);
}

.unslider-arrow.prev {
    left: 5px!important;
}

.unslider-arrow.next {
    right: 5px!important;
}

#search .loader-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 15vw;
    display: block;
}

.ui.disabled.dimmer {
    display: none;
}

#search .ui.dimmer {
    background-color:  rgba(0,0,0,.55);
}

#search .star.icon {
    margin-right: -3px;
    line-height: inherit;
    transition: color .1s ease, opacity .1s ease;
}

#search .star.icon.true {
    color: #ffb70a;
}

#search .star.icon:hover, #search .star.icon.true:hover {
    color: #ffb70a;
}



.ui.inverted.vertical.footer.segment {
    display: none;
}
