<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block head_title %}{% endblock %} | Sublet</title>

	{% load staticfiles %}

 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
  <!--<link rel="stylesheet" href="{% static "css/semantic.min.css" %}">-->
	<link rel="stylesheet" href="{% static "css/main.css" %}">

  {% block head %}
  {% endblock %}

  <body>
    <div class="ui sidebar inverted vertical menu">
      <a href="{% url "search" %}" class="{% if request.resolver_match.url_name == 'search' %}active{% endif %} item"><i class="search icon"></i>Search Listings</a>

      {% if user.is_anonymous %}
        <a href="{% url 'account_signup' %}" class="item {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}">Sign Up</a>
        <a href="{% url 'account_login' %}" class="item {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}">Log In</a>
        {% endif %}

      {% if user.is_authenticated %}
        <a href="{% url "listings:add_listing" %}" class="ui item"><i class="plus icon"></i>Post Listing</a>
        <a href="{% url 'accounts:home' %}" class="{% if request.resolver_match.url_name == "home" %}active{% endif %} item">
          <i class="dashboard icon"></i>
          Dashboard
        </a>
        <a href="{% url 'accounts:listings' %}" class="{% if request.resolver_match.url_name == "listings" %}active{% endif %} item">
          <i class="home icon"></i>
          Your listings
        </a>
        <a href="{% url 'accounts:starred_listings' %}" class="{% if request.resolver_match.url_name == "starred_listings" %}active{% endif %} item">
          <i class="star icon"></i>
          Starred listings
        </a>
        <a href="{% url 'accounts:verification' %}" class="{% if request.resolver_match.url_name == "verification" %}active{% endif %} item">
          <i class="checkmark icon"></i>
          Verifications
        </a>
        <a href="{% url 'accounts:edit_profile' %}" class="{% if request.resolver_match.url_name == "edit_profile" %}active{% endif %} item">
          <i class="edit icon"></i>
          Edit Profile
        </a>
        <a href="{% url 'accounts:settings' %}" class="{% if request.resolver_match.url_name == "settings" %}active{% endif %} item">
          <i class="setting icon"></i>
          Settings
        </a>
        <a href="{% url 'account_logout' %}" class="item">
          <i class="frown icon"></i>
          Logout
        </a>
      {% endif %}
    </div>

    <div class="pusher">
      <div id="top-menu" class="ui large {% if request.resolver_match.url_name == "landing" %}fixed inverted transparent{% endif %} menu">
        <a class="header item logo" href="{% url 'landing' %}">
          <!-- <img class="logo" src="{% static "img/logo_200x200.png" %}"> -->
          Sublet @ UChicago
        </a>
        <div class="computer-menu right menu">
          <a href="{% url "search" %}" class="ui item">
            <i class="search icon"></i>
            Search Listings
          </a>
          {% if user.is_anonymous %}
          <a href="{% url 'account_signup' %}" class="item">
            Sign Up
          </a>
          <a href="{% url 'account_login' %}" class="item">
            Log In
          </a>
          {% endif %}
          {% if user.is_authenticated %}
          <a href="{% url "listings:add_listing" %}" class="ui item">
            <i class="plus icon"></i>
            Post Listing
          </a>
          <div id="user" class="ui right dropdown browse item">
            <i class="ui home icon"></i>Home
            <div class="menu">
              <a href="{% url 'accounts:home' %}" class="item"><i class="dashboard icon"></i> Dashboard</a>
              <a href="{% url "accounts:listings" %}" class="item"><i class="home icon"></i> Your Listings</a>
              <a href="{% url "accounts:starred_listings" %}" class="item"><i class="star icon"></i> Starred Listings</a>
              <a href="{% url "accounts:edit_profile" %}" class="item"><i class="setting icon"></i> Edit Profile</a>
              <a class="item" href="{% url 'account_logout' %}"><i class="rocket icon"></i> Logout</a>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="mobile-menu right menu">
          <a class="menu-button item"><i class="sidebar large icon"></i></a>
        </div>
      </div>

      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container grid">
          <div class="ui twelve wide column">
            <div class="ui stackable inverted divided grid">
              <div class="four wide column">
                <h4 class="ui inverted header">Development</h4>
                <div class="ui inverted link list">
                  <a href="{% url "contact" %}" class="item">Contact</a>
                  <a href="{% url "contact" %}" class="item">Report a bug</a>
                  <a href="https://github.com/NilsJPWerner/Sublet-Uchicago" class="item">Source Code</a>
                  <a href="#" class="item">Blog</a>
                </div>
              </div>
              <div class="four wide column">
                <h4 class="ui inverted header">Site Map</h4>
                <div class="ui inverted link list">
                  <a href="{% url "search" %}" class="item">Search</a>
                  <a href="{% url "accounts:home" %}" class="item">Dashboard</a>
                  <a href="{% url "accounts:listings" %}" class="item">Your Listings</a>
                  <a href="{% url "accounts:edit_profile" %}" class="item">Edit Profile</a>
                </div>
              </div>
              <div class="eight wide column">
                <h4 class="ui inverted header">Contribute on Github</h4>
                <div class="ui inverted link list" style="margin-top: 1.3em;">
                  <a href="https://github.com/NilsJPWerner/Sublet-Uchicago" class="ui basic inverted button"><i class="ui large star icon"></i>Star</a>
                  <a href="https://github.com/NilsJPWerner/Sublet-Uchicago/fork" class="ui basic inverted button"><i class="ui large fork icon"></i>Fork</a>
                  <a href="https://github.com/NilsJPWerner/Sublet-Uchicago" class="ui basic inverted button"><i class="ui large eye icon"></i>Watch</a>
                  <a href="mailto:nils.jp.werner@gmail.com" class="item" style="margin-top: 1em;">nils.jp.werner@gmail.com</a>
                </div>
              </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div class="ui center aligned horizontal inverted small divided link list">
              <a class="item" href="#">Terms and Conditions</a>
              <a class="item" href="#">Privacy Policy</a>
              <a class="item" href="http://nils.tech">© 2016 Nils Werner</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block jquery %}
      {% comment %}
        DONT REMOVE THIS
        This block is used to get rid of the this line for the jfu uploader to prevent jquery conflicts
        Yes I know this is a hack but omg the jfu plugin is atrocious and this was the easiest solution
      {% endcomment %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <!-- <script src="{% static "js/jquery-2.1.4.min.js" %}" type="text/javascript"></script>-->
    {% endblock %}

   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
    <!-- <script src="{% static "js/semantic.min.js" %}" type="text/javascript"></script>-->
    <script src="{% static "js/main.js" %}" type="text/javascript"></script>

    {% block scripts %}
    {% endblock %}

  </body>
</html>