<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block head_title %}{% endblock %}</title>

	{% load staticfiles %}

	<!-- Bootstrap/Semantic & stylesheets-->
 	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css"> -->
  <link rel="stylesheet" href="{% static "css/semantic.min.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">

  {% block head %}
  {% endblock %}

  <body>

    <div id="top-menu" class="ui large menu">
      <a class="header item" href="{% url 'search' %}">
        <img class="logo" src="{% static "img/logo_200x200.png" %}">
        Marketplace
      </a>
      <div class="ui category search item">
        <div class="ui transparent left icon input">
          <i class="search link icon"></i>
          <input class="prompt" type="text" placeholder="Search all listings...">
        </div>
        <div class="results"></div>
      </div>
      <div class="right menu">
        {% if user.is_anonymous %}
        <a href="{% url 'account_signup' %}" class="item">
          Sign up
        </a>
        <a href="{% url 'account_login' %}" class="item">
          Log in
        </a>
        {% endif %}
        {% if user.is_authenticated %}
        <a id="post_listing" class="ui item">
          <i class="plus icon"></i>
          Post a listing
        </a>
        <div id="user" class="ui right dropdown browse item">
          {{ request.user.extendeduser.first_name }}
          <i class="circular user icon"></i>
          <div class="menu">
            <a href="{% url 'accounts:home' %}" class="item">Dashboard</a>
            <a class="item">View your listings</a>
            <a class="item">Edit profile</a>
            <a class="item" href="{% url 'account_logout' %}">Logout</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>


    {% block content %}
    {% endblock %}

    {% block jquery %}
      {% comment %}
        This block is used to get rid of the this line for the jru uploader to prevent jquery conflicts
      {% endcomment %}
      <!--<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>-->
      <script src="{% static "js/jquery-2.1.4.min.js" %}" type="text/javascript"></script>
    {% endblock %}
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>-->
    <script src="{% static "js/semantic.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/main.js" %}" type="text/javascript"></script>
    {% block scripts %}
    {% endblock %}

  </body>
</html>