{% csrf_token %}
{% load tz %}
<h1> {{ listingObject.description }} </h1> 
{% if same_user_as_post %}
<div class=“column”>
<i href='/edit/{{listing_id}}' class=“edit icon”></i> “Edit Listing"
<a href="{{ listingObject.get_absolute_edit_url }}"> Click to edit </a>
</div>
{% endif %}
<div class=“column”>
<i class=“edit icon”></i> “Edit Listing"
</div>
<p> Price: {{ listingObject.price }} </p>
<p> Location: {{ listingObject.location }} </p>
<p> Created At: {% timezone "America/Chicago" %}
	{{ listingObject.created_at }} 
	{% endtimezone %}
</p>
<p> Last Updated At: 
	{% timezone "America/Chicago" %}
	{{ listingObject.updated_at }}
	{% endtimezone %} </p>
<p> {{listingObject.details}} </p>
