{% extends 'listing/listing_base.html' %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block head_title %}Edit Location{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/location.css" %}">
{% endblock %}

{% block listing_content %}
  <form class="ui form" method="post" action="">
    <div class="ui secondary top attached segment">
      <h3 class="">Place your listing on a map</h3>
    </div>
    <div class="ui attached padded segment">
      {% csrf_token %}
      <div class="ui large form">
        <div class="field">
          <label>Street Address</label>
          {% render_field form.street_address placeholder="" %}
        </div>
        <div class="two fields">
          <div class="field">
            <label>Apt, Suite, Building.</label>
            {{ form.apt }}
          </div>
          <div class="field">
            <label>City</label>
            {{ form.city }}
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>State</label>
            {{ form.state }}
          </div>
          <div class="field">
            <label>Zip Code</label>
            {{ form.zip_code }}
          </div>
        </div>
        <div class="ui divider"></div>
        {{ form.latitude|add_class:"hidden" }}
        {{ form.longitude|add_class:"hidden" }}
        <strong>See if the location is in the right place, and adjust accordingly</strong><br><br>
        <div id="map" style="width:100%; height:300px;"></div>
      </div>
    </div>
    <div class="ui bottom attached segment">
      <div class="ui one column right aligned grid">
        <div class="ui sixteen wide column">
          <button class="ui customblue icon button" type="submit" style="width:90px;">Next<i class="ui right arrow icon"></i></button>
        </div>
      </div>
    </div>
  </form>

{% endblock %}



{% block listing_scripts %}
<script type="text/javascript" src="{% static "js/location-form.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP5xmOaC6toBn_BrLSA_DZeLBMPl1lm3w&libraries=places&callback=initMap"
    async defer></script>


{% endblock %}