{% extends 'listing/listing_base.html' %}

{% block head_title %}Edit Description{% endblock %}

{% block listing_content %}
  <form class="ui form" method="post" action="">
    <div class="ui secondary top attached segment">
      <h3>Describe your listing</h3>
    </div>
    <div class="ui attached padded segment">
      {% csrf_token %}
      <div class="ui large form">
        <div class="field">
          <label>Listing Title</label>
          {{ form.name }}
        </div>
        <div class="field">
          <label>Listing Summary</label>
          {{ form.summary }}
        </div>
        <div class="field">
          <label>Monthly rent</label>
          <div class="ui left labeled input">
            <div class="ui label">$</div>
            {{ form.price }}
          </div>
        </div>
      </div>

    </div>
    <div class="ui bottom attached segment">
      <div class="ui one column right aligned grid">
        <div class="ui sixteen wide column">
          <button class="ui customblue icon button" type="submit" style="width:90px;">Next<i class="ui right arrow icon"></i></button>
        </div>
      </div>
    </div>
  </form>

{% endblock %}