{% extends 'listing/listing_base.html' %}

{% block listing_content %}

<div class="ui secondary top attached segment">
  <h3>Add some photos of your listing</h3>
</div>
<div class="ui attached padded segment">
  {% load jfutags %} 
  {% jfu 'listing/photo_upload_form.html' 'listings:jfu_upload' listing_id=listing.id %} 
</div>
<div class="ui bottom attached segment">
  <div class="ui one column right aligned grid">
    <div class="ui sixteen wide column">
      <a href="{% url 'listings:edit_listing_calendar' listing_id=listing.id %}" class="ui customblue icon button" style="width:90px;">Next<i class="ui right arrow icon"></i></a>
    </div>
  </div>
</div>

{% endblock %}

{% block jquery %}
{% endblock %}