{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}{% block listing_head_title %}{% endblock %}{% endblock %}
{% block content %}

<div id="account" class="ui centered two column grid stackable container" style="margin-top: 20px;">
  <div class="four wide column">
    <div class="ui large one item menu">
      <a href="{% url 'accounts:account_home' %}" class="ui item">
        <i class="ui arrow left icon"></i>
        Back to Dashboard
      </a>
    </div>
    <div class="ui card">
      <div class="content">
        <div class="header">
          Editing: {{ listing.listing_name }}
        </div>
        <div class="meta">
        </div>
        <div class="description">
          {% if listing.listing_complete %}
            You are ready to publish your listing. Don't worry you can come back and edit it later.
          {% else %}
            To publish your listing complete the steps below. You can always come back and finish it later.
          {% endif %}
        </div>
      </div>
      <div class="extra content">
          {% if listing.listing_complete %}
            <div class="ui fluid green button">Publish</div>
          {% else %}
            <div class="ui fluid disabled button">Publish</div>
          {% endif %}
      </div>
    </div>
    <div class="ui large vertical fluid menu">
      <a href="{% url 'accounts:edit_listing_description' listing_id %}"  class="item">
        Description
        {% if listing.description_complete %}
          <i class="ui green checkmark icon"></i>
        {% else %}
          <i class="ui grey plus icon"></i>
        {% endif %}
      </a>
      <a href="{% url 'accounts:edit_listing_location' listing_id %}" class="item">
        Location
        {% if listing.location_complete %}
          <i class="ui green checkmark icon"></i>
        {% else %}
          <i class="ui grey plus icon"></i>
        {% endif %}
      </a>
      <a href="{% url 'accounts:edit_listing_details' listing_id %}" class="item">
        Details
        {% if listing.details_complete %}
          <i class="ui green checkmark icon"></i>
        {% else %}
          <i class="ui grey plus icon"></i>
        {% endif %}
      </a>
      <a href="{% url 'accounts:edit_listing_photos' listing_id %}" class="item">
        Photos
        {% if listing.photos_complete %}
          <i class="ui green checkmark icon"></i>
        {% else %}
          <i class="ui grey plus icon"></i>
        {% endif %}
      </a>
      <a href="{% url 'accounts:edit_listing_calendar' listing_id %}" class="item">
        Calendar
        {% if listing.calendar_complete %}
          <i class="ui green checkmark icon"></i>
        {% else %}
          <i class="ui grey plus icon"></i>
        {% endif %}
      </a>
    </div>
  </div>
  <div class="ten wide column">
    {% block listing_content %}
    {% endblock %}
  </div>
</div>

{% endblock %}